In [3]:
import os 
os.chdir('C:/Users/nomiy/movie_recommender')

In [5]:
import pandas as pd
data = pd.read_csv('./Data/movie_metadata.csv')

In [6]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [7]:
print(data.shape)

(5043, 28)

In [9]:
#Creating a new data with only rellevant columns
df=data[['genres','movie_title','imdb_score','movie_imdb_link']].copy()
df.head()

,genres,movie_title,imdb_score,movie_imdb_link
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,7.9,http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,7.1,http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2,Action|Adventure|Thriller,Spectre,6.8,http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3,Action|Thriller,The Dark Knight Rises,8.5,http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4,Documentary,Star Wars: Episode VII - The Force AwakensÂ ...,7.1,http://www.imdb.com/title/tt5289954/?ref_=fn_t...

In [10]:
#fetch genre of all movies
genres_all_movies = [df.loc[i]['genres'].split('|') for i in df.index]
#sort genres in alphabetical order
genres = sorted(list(set([item for sublist in genres_all_movies for item in sublist])))
genres

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Thriller',
 'War',
 'Western']

In [11]:
len(genres)

26

In [12]:
#initalize list for full data and title
full_data=[]
movie_title = []

In [13]:
print(df)

                               genres  \
0     Action|Adventure|Fantasy|Sci-Fi
1            Action|Adventure|Fantasy
2           Action|Adventure|Thriller
3                     Action|Thriller
4                         Documentary
...                               ...
5038                     Comedy|Drama
5039     Crime|Drama|Mystery|Thriller
5040            Drama|Horror|Thriller
5041             Comedy|Drama|Romance
5042                      Documentary

                                            movie_title  imdb_score  \
0                                               AvatarÂ          7.9
1             Pirates of the Caribbean: At World's EndÂ          7.1
2                                              SpectreÂ          6.8
3                                The Dark Knight RisesÂ          8.5
4     Star Wars: Episode VII - The Force AwakensÂ    ...         7.1
...                                                 ...         ...
5038                           Signed Sealed DeliveredÂ          7.7
5039                         The FollowingÂ                      7.5
5040                              A Plague So PleasantÂ          6.3
5041                                  Shanghai CallingÂ          6.3
5042                                 My Date with DrewÂ          6.6

                                        movie_imdb_link
0     http://www.imdb.com/title/tt0499549/?ref_=fn_t...
1     http://www.imdb.com/title/tt0449088/?ref_=fn_t...
2     http://www.imdb.com/title/tt2379713/?ref_=fn_t...
3     http://www.imdb.com/title/tt1345836/?ref_=fn_t...
4     http://www.imdb.com/title/tt5289954/?ref_=fn_t...
...                                                 ...
5038  http://www.imdb.com/title/tt3000844/?ref_=fn_t...
5039  http://www.imdb.com/title/tt2071645/?ref_=fn_t...
5040  http://www.imdb.com/title/tt2107644/?ref_=fn_t...
5041  http://www.imdb.com/title/tt2070597/?ref_=fn_t...
5042  http://www.imdb.com/title/tt0378407/?ref_=fn_t...

[5043 rows x 4 columns]

In [14]:
df.to_csv('test.csv')